<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MultiShop Admin Panel</title>
    <link rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/bootstrap/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/dist/css/style.css">
    <link rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/tables/et-line-font/et-line-font.css">
    <link rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/tables/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/dist/weather/weather-icons.min.css">
    <link type="text/css" rel="stylesheet" href="~/MainDownload-OvioAdmin-html5-template/html/dist/weather/weather-icons-wind.min.css">
</head>