@using System.Globalization
<footer class="main-footer dark-bg">
    Copyright &copy; @DateTime.Now.ToString("dd MMMM yyy", new CultureInfo("tr-TR"))  <a href="https://github.com/vuralsayan" target="_blank">Vural Sayan</a>. Tüm hakları saklıdır.
</footer>