@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<vc:_head-ui-layout-component-partial />
<body>
    <vc:_topbar-ui-layout-component-partial />
    <vc:_navbar-ui-layout-component-partial />
    @RenderBody()
    <vc:_footer-ui-layout-component-partial />
    <vc:_script-ui-layout-component-partial />
</body>
</html>