@model CreateFeatureDto
@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Alan Ekleme Sayfası</h4>
                <form method="post">
                    <div class="form-group">
                        <label>Başlık</label>
                        <input type="text" class="form-control" asp-for="Title">
                    </div>
                    <div class="form-group">
                        <label>İkon</label>
                        <input type="text" class="form-control" asp-for="Icon">
                    </div>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                    <a href="/Admin/Feature/Index" class="btn btn-danger">İptal</a>
                </form>
            </div>
        </div>
    </div>
</section>
